h1, h2, h3, h4, h5, h6{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
}

p, ul{
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.9em;
	margin: 0.75em;
}

h2, h3, h4, p{
	margin: 0.5em;
}

em{
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
	background-color: #f6aa1c;
}

h2, em{
  margin: 0.05em;
}

/* Buttons */
.btn{
  width: 130px;
  padding: 10px 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

.btn-primary{
  background-color: transparent;
  border: 2px solid #f6aa1c;
  border-radius: 3px;
  color: #f6aa1c;
  transition: all 0.3s;
}

.btn-primary:hover{
  background-color: #f6aa1c;
  border: 2px solid #f6aa1c;
  border-radius: 3px;
  color: #fffaf0;
  transform: scale(0.9);
}

.btn-primary:active{
  background-color: #f6aa1c;
  border: 2px solid #f6aa1c;
  border-radius: 3px;
  color: #fffaf0;
  transform: scale(0.9);
}