/* navigation */

nav{
	grid-area: nav;
	display: flex;
	flex-flow: row wrap;
	height: 60px;
	width: 100%;
}

#nav-menu{
	display: flex;
	flex-flow: row wrap;
	width:100%;
	justify-content: center;
	align-items: center;
}

nav ul{
	list-style-type: none;
	font-size: 1em;
	margin: 0px;
	transition: all 0.3s;
}

.nav-item{
	list-style-type: none;
	margin: 5px;
	justify-content: center;
	align-items: center;
}

.nav-item > a{
	text-decoration: none;
	color: black;
}

.nav-item > a:hover{
	text-decoration: underline;
	color: #f6aa1c !important;
}

.nav-item > a:active{
	text-decoration: none;
}

.nav-item > a:visited{
	color: solid black;
}

@media(min-width: 1161px){
	nav{
		height: 40px;
	}

	#nav-menu{
		display: flex;
		flex-flow: row wrap;
		width: 96%;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul{
		list-style-type: none;
		font-size: 1em;
		margin: 5px;
	}
}